@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
	--green: #3bbd1b;
	--red: rgb(197, 6, 6);
	--blue: rgb(0, 131, 245);
}

* {
	font-family: "Open Sans", sans-serif;
	color: white;
	font-size: 1rem;
}

body {
	background-color: #215975;
}

p.warning {
	color: var(--red) !important;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

/* Modals */

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000095;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

#modal * {
	color: black;
}

.modal_open {
	display: flex !important;
}

.modal_common {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: white;
	border-radius: 0.25rem;
}

.modal_common * {
	margin: 0.25rem;
	text-align: center;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

/* Buttons */

button {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: var(--green);
	color: white !important;
	border: 2px solid var(--green);
	cursor: pointer;
}

button.proceed::after {
	font-family: FontAwesome;
	font-weight: 400;
	content: " \f061";
}

button.proceed:hover {
	background-color: white;
	color: var(--green) !important;
}

button[disabled] {
	filter: grayscale(1);
	opacity: 0.5;
}

button[disabled]:hover {
	cursor: not-allowed;
	color: white !important;
	background-color: var(--green);
}

#loading {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1rem;
	z-index: 15;
}

/* Select & Options */

select {
	text-align: center;
	width: 8rem;
	background-color: #f3f3f3;
	border-radius: 0.5rem;
	cursor: pointer;
}

option {
	margin: 0 !important;
}

option:checked {
	font-weight: bold;
}

option:checked::before {
	font-family: FontAwesome;
	font-weight: 400;
	content: "\f178  ";
}

option:hover {
	font-weight: bold;
}

/* The HUD */

#hud {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 1rem 10%;
}

.hud_open {
	display: flex !important;
}

.hud_common {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #00000085;
	padding: 1rem;
	align-items: center;
	border-radius: 0.5rem;
}

.stat_wrap_common {
	display: flex;
	flex-direction: row;
}

.stat {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

/* HUD TOP */

#hud_top > * {
	width: calc(100% / 3);
}

#current_player_stat {
	text-align: center;
	font-weight: bold;
}

#cure_progress_stat_wrap {
	width: 100%;
	background-color: #000040;
}

#cure_progress_stat {
	display: flex;
	align-items: center;
	height: 100%;
	background-color: blue;
	display: flex;
	justify-content: center;
}

/* HUD MID */

#hud_mid {
	width: fit-content;
	flex-direction: row;
	align-self: flex-end;
}

.bar_wrap {
	height: 5rem;
	background-color: #000040;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.bar {
	background-color: blue;
	height: 50%;
	text-align: center;
}

.country_name {
	text-align: center;
}

.bar,
.score_label {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.score_label {
	width: 100%;
	display: flex;
	align-items: center;
}

#scoreboard .row .column {
	margin-right: 0.5rem;
}

#scoreboard .row .column:last-of-type {
	margin-right: 0;
}

/* HUD BOTTOM */

#event_card {
	position: fixed;
	bottom: 0.5rem;
	left: calc(50vw - 5rem);
	width: 10rem;
	min-height: 15rem;
	background-color: #ffffff;
	padding: 1rem;
	border-radius: 0.5rem;
}

#event_card * {
	color: black;
}

#event_card_title {
	font-weight: bold;
	width: 100%;
	text-align: center;
}

/* Main */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#map_obj {
	width: 100%;
	max-height: 90%;
}
