@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
	--green: #3bbd1b;
	--red: rgb(197, 6, 6);
	--blue: rgb(0, 131, 245);
}

* {
	font-family: "Open Sans", sans-serif;
	color: white;
	font-size: 1rem;
}

body {
	background-color: #215975;
}

p.warning {
	font-size: 1.5rem;
	color: var(--red) !important;
	font-weight: bold;
}

p.good {
	font-size: 1.5rem;
	color: var(--green) !important;
	font-weight: bold;
}

.bold {
	font-weight: bold !important;
}

.center {
	text-align: center !important;
}

/* Modals */

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000095;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 15;
	transition: all 10s ease-in-out;
	-webkit-transition: all 10s ease-in-out;
}

.modal_open {
	display: flex !important;
}

.modal_common {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: #00000095;
	border-radius: 0.25rem;
	max-width: 40rem;
	max-height: 30rem;
	overflow-y: scroll;
}

.modal_common * {
	margin: 0.25rem 0;
	text-align: center;
	color: white;
	line-height: 1.5rem;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column !important;
}

/* Login Modal */

.input_row .column {
	width: calc(100% / 3);
	padding: 0.5rem;
}

/* Intro Modal */

#modal_intro p {
	text-align: left;
	align-self: flex-start;
}

#modal_intro h2 {
	font-weight: bold;
	font-size: 1.25rem;
}

#modal_intro img {
	border-radius: 0.5rem;
}

#modal_intro .row {
	justify-content: space-evenly;
}

#intro_card_row img {
	width: calc(100% / 3.5);
	/* padding: 1rem; */
}

.img_alone {
	width: 50%;
}

/* Buttons */

button {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: var(--green);
	color: white !important;
	border: 2px solid var(--green);
	cursor: pointer;
}

button.proceed::after {
	font-family: FontAwesome;
	font-weight: 400;
	content: " \f061";
}

button.proceed:hover {
	background-color: #00000000;
	color: var(--green) !important;
}

button[disabled] {
	filter: grayscale(1);
	opacity: 0.5;
}

button[disabled]:hover {
	cursor: not-allowed;
	color: white !important;
	background-color: var(--green);
}

button.warning {
	color: white;
	background-color: var(--red);
	border-color: var(--red);
}

button.warning:hover {
	color: var(--red) !important;
	background-color: #00000000;
	border-color: var(--red);
}

#loading {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1rem;
	z-index: 15;
}

/* Select & Options */

select {
	text-align: center;
	width: 8rem;
	background-color: #484848;
	border-radius: 0.5rem;
	cursor: pointer;
}

option {
	margin: 0 !important;
}

option:checked {
	font-weight: bold;
}

option:checked::before {
	font-family: FontAwesome;
	font-weight: 400;
	content: "\f178  ";
}

option:hover {
	font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
option:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

/* The HUD */

#hud {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 1rem;
	z-index: 10;
}

.hud_open {
	display: flex !important;
}

.hud_common {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #00000085;
	padding: 1rem;
	align-items: center;
	border-radius: 0.5rem;
}

.stat_wrap_common {
	display: flex;
	flex-direction: row;
}

.stat {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

/* HUD TOP */

#hud_top > * {
	width: calc(100% / 3);
}

#current_player_stat {
	text-align: center;
	font-weight: bold;
}

#cure_progress_stat_wrap {
	width: 100%;
	background-color: #000040;
}

#cure_progress_stat {
	display: flex;
	align-items: center;
	height: 100%;
	background-color: blue;
	display: flex;
	justify-content: center;
}

#resource_column {
	min-width: 19rem;
}

/* HUD MID */

#hud_mid {
	width: fit-content;
	flex-direction: row;
	position: fixed;
	left: 1rem;
	bottom: 22rem;
}

#scoreboard label {
	margin-left: calc(65% - 81.05px);
}

label[for="key"] {
	margin: 0 !important;
	font-style: normal;
	text-decoration: none;
}

#keys {
	border: 2px solid white;
	border-radius: 0.5rem;
	justify-content: space-between;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

#scoreboard_insert {
	margin-top: 0.5rem;
}

.bar_wrap {
	height: 1.5rem;
	background-color: #000040;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.bar {
	background-color: blue;
	text-align: center;
}

.score_wrap {
	width: 7rem;
}

.country_name {
	margin: 0.5rem 0;
	width: 5rem;
}

label {
	font-style: italic;
	text-decoration: underline;
}

.bar,
.score_label {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.score_label {
	width: 100%;
	display: flex;
	align-items: center;
}

.key_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.key {
	width: 1.2rem;
	height: 1.2rem;
	margin-top: 0.5rem;
	border: 2px solid white;
	border-radius: 50%;
}

.bar_healthy,
#key_healthy,
#healthy_stat {
	background-color: var(--green);
}

.bar_infected,
#key_infected,
#infected_stat {
	background-color: var(--red);
}

.bar_dead,
#key_dead,
#dead_stat {
	background-color: black;
}

/* HUD BOTTOM */

#hud_btm {
	width: calc(100% - 15rem);
	align-self: flex-end;
}

#event_card {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	width: 14rem;
	height: 20rem;
	border-radius: 0.5rem;
	background-size: cover;
	display: flex;
	background-color: #00000095;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 2rem;
}

#event_card * {
	color: black;
}

#event_card_title {
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#slider_val_wrap {
	justify-content: space-between;
}

#slider_val_left {
	margin-right: 1rem;
}

#population_wrap {
	margin-top: 0.5rem;
}
#population_stat_wrap {
	width: 15rem;
}

#population_stat_wrap,
.bar_wrap {
	border: 3px white solid;
}

.pop_stat {
	height: 1.25rem;
}

/* Slider */

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="range"]:focus {
		outline: none;
	}
	input[type="range"] {
		overflow: hidden;
		width: 100%;
		-webkit-appearance: none;
		background-color: #ffffff;
		border-radius: 0.5rem;
		margin: 0.5rem 0;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		-webkit-appearance: none;
		height: 1rem;
		color: #ffffff;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		cursor: ew-resize;
		background: #000000;
	}
}
/** FF*/
input[type="range"]::-moz-range-progress {
	background-color: #ffffff;
}
input[type="range"]::-moz-range-track {
	background-color: #ffffff;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
	background-color: #ffffff;
}
input[type="range"]::-ms-fill-upper {
	background-color: #ffffff;
}

/* Main */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#map {
	width: 100%;
	max-height: 90%;
	padding-left: 10%;
}

[data-country] {
	fill: red;
}

/* HOVERS */

button {
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

/* Graphics */

#airplane_wrap1 {
	font-size: 3rem;
	position: fixed;
	transition: all 25s ease-in-out;
	-webkit-transition: all 25s ease-in-out;
}

#airplane1 {
	display: inline-block;
}

#airplane_wrap2 {
	font-size: 3rem;
	position: fixed;
	transition: all 15s ease-in-out;
	-webkit-transition: all 15s ease-in-out;
}

#airplane2 {
	display: inline-block;
}
